* {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  background: #bd5353;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top_bar {
  justify-content: flex-start;
  padding-bottom: 5px;
  width: 600px;

}

.title_line {
  border-color: #69646448;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 50px;

}

h1 {
  padding-bottom: 15px;
  color: white;
  display: flex;
  justify-content: flex-start;
}
hr {
  background: #c44040;
  width: 100%;
}


.pomo_container {
  width: 580px;
  padding-top: 30px;
}

.pomodoro_app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.pomo_Count {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px 40px 40px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
  
}

.pomodoro_type {
  padding: 20px;
}

ul {
  list-style-type: none;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  
}

li {
  padding-left: 40px;
  margin-bottom: 5px;
  color: white;
font-size: 20px;


}

.timer_countdown {
  font-size: 80px;
  color: white;
}


.btn {
    position: relative;
    display: inline-block;
    width: 100%;

}



button {
 cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-family: ArialRounded;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
}

